@if (isEmployee()) {

<section class="dashboard">
  <!-- Project Selector -->
  <div class="glass-card project-selector">

    <label for="projectSelect">
      Project
    </label>

    <div class="custom-select">

      <button type="button" class="select-trigger" (click)="toggleDropdown()" aria-haspopup="listbox"
        [attr.aria-expanded]="isDropdownOpen()">
        <span>
          {{ selectedProjectName() ?? 'Select Project' }}
        </span>

        <svg class="arrow" [class.open]="isDropdownOpen()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          width="16" height="16">
          <polyline points="6 9 12 15 18 9" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>


      @if (isDropdownOpen()) {
      <div class="select-options glass-card">
        @for (project of projects(); track project.id) {
        <div class="option" tabindex="0" (click)="selectProject(project)" (keydown.enter)="selectProject(project)"
          (keydown.space)="selectProject(project)">
          {{ project.name }} ({{ project.code }})
        </div>
        }
      </div>
      }

    </div>

  </div>

  <app-timesheet-stats [totalBillableHours]="getTotalBillableHours()"
    [totalNonBillableHours]="getTotalNonBillableHours()" [totalWeeks]="timesheets().length"
    [totalProjects]="projects().length"></app-timesheet-stats>

  <div class="dashboard-actions">
    <button type="button" class="add-timesheet-btn" (click)="openAddDialog()">
      + Add Timesheet
    </button>
  </div>


  <app-timesheet-table [dataSource]="dataSource()" [loading]="loading()"></app-timesheet-table>

  <app-dialog [isOpen]="isAddDialogOpen()" (closed)="closeAddDialog()">
    <app-add-timesheet-form [projects]="projects()" (_cancel)="closeAddDialog()"
      (_submit)="handleAddTimesheet($event)"></app-add-timesheet-form>

  </app-dialog>


</section>

}
