.background {
  min-height: 100dvh;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass Card */
.login-card {
  width: 100%;
  max-width: 420px;
  padding: 40px;
  border-radius: var(--radius-lg);

  background: var(--glass-bg);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);

  border: 1px solid var(--glass-border);

  color: var(--text-light);
  text-align: center;

  box-shadow: var(--shadow-strong);
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtitle {
  margin-bottom: 30px;
  color: var(--text-muted);
  font-size: 14px;
}

/* Inputs */
.input-group {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 14px 16px;
  border-radius: var(--radius-md);
  border: none;
  outline: none;

  font-size: 14px;

  background: var(--surface-input);
  color: var(--text-light);

  transition: var(--transition);
}

input::placeholder {
  color: var(--text-muted);
}

input:focus {
  background: var(--surface-input-focus);
  transform: scale(1.02);
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border-radius: var(--radius-md);
  border: none;

  font-weight: 600;
  font-size: 15px;

  cursor: pointer;
  transition: var(--transition);

  background: var(--surface-white);
  color: var(--text-dark);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Error */
.error {
  margin-top: 15px;
  color: var(--danger-light);
  font-size: 14px;
}

/* Loader */
.loader {
  width: 18px;
  height: 18px;
  border: 3px solid var(--border-light);
  border-top: 3px solid var(--text-dark);
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 28px 20px;
  }
}

.password-group {
  position: relative;
}


.eye-toggle {
  position: absolute;
  right: 30px;
  bottom: 1px;
  width: 10px;

  background: none;
  border: none;
  cursor: pointer;

  font-size: 16px;
  color: var(--text-muted);

  transition: var(--transition);
}
